
$margenFiltrado:20px; 

#ConjuntosFiltrados{

  #name-filter{

    margin-right:$margenFiltrado;
    width: 200px;

  }

  #status-filter{
    margin-right:$margenFiltrado;


  }

  #pagina-2{
    margin-right:$margenFiltrado;


  }

  button{
    margin-right:$margenFiltrado;


  }
  


}