$--bs-body-bg: #131E29 !important;
$--bs-nav-pills-link-active-bg: #101820 !important;
$margenFiltrado: 20px;


body {
  width: 100%;
  background-color: $--bs-body-bg;

  width: 100%;
  margin: 0;

  header {
    background-color: $--bs-body-bg;
    top: 0;
    z-index: 1;
    position: fixed;
    height: 210px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .btn-group {
      margin-top: 20px;
    }
  }

  main {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    position: relative;

    #conjuntosFiltrados {



      #name-filter {

        margin-right: $margenFiltrado;
        width: 200px;

      }

      #status-filter {
        margin-right: $margenFiltrado;


      }

      #pagina2 {
        margin-right: $margenFiltrado;


      }

      button {
        margin-right: $margenFiltrado;



      }



    }

    div.card {
      background-color: #60a85f;
      text-align: center;
      margin: 10px auto;
      width: 20vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;

      h5{
        font-size: 2vw;
      }

      p{
        font-size: 1vw;
      }
    
    }

  }

}




/* Header, navbar y logos */

nav {
  background-color: #25282A;

  .nav-link.active {
    background-color: $--bs-nav-pills-link-active-bg;
  }
}

header img {
  width: 200px;
  height: auto;
  position: relative;
  right: -240px;
}

#logo img {
  height: 140px;
  width: auto;
}

h1 {
  position: relative;
  left: 35px;
}

select#pagina {
  width: 220px;
  position: relative;
  left: 35px;
  margin: 35px 20px;
}

#filters {
  position: relative;
  left: 35px;
  width: 500px;
  margin-bottom: 35px;
}

#status-filter:focus,
#name-filter:focus {
  border-color: #86b7fe;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, .25);
}

.allCards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-template-rows: auto;
  gap: 30px 10px;
}



div.card:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}




/* Mediasqueries */

@media (max-width: 768px) {
  /* navbar y logo */

  #logo img {
    height: 18.5vw;
    width: auto;
  }

  nav {
    height: 18.5vw;
  }

  .allCards {
    grid-template-columns: repeat(2, 1fr);
  
    grid-template-rows: auto;

    .card{
      width: 30vw;

      h5{
        font-size: 2vw;
      }

      p{
        font-size: 1vw;
      }
    }
  }

}

@media (max-width: 450px) {
  /* navbar y logo */

  #logo img {
    height: 18.5vw;
    width: auto;
  }

  nav {
    height: 18.5vw;
  }

  .allCards {
    grid-template-columns: repeat(1, 1fr);
  
    grid-template-rows: auto;

    .card{
      width: 40vw;

      h5{
        font-size: 2vw;
      }

      p{
        font-size: 1vw;
      }
    }
  }

}